<ion-modal-view ng-controller="PhotoViewerCtrl">
	<ion-header-bar>
		
		<h1 class="title">Play</h1>
		
		<button ng-click="closeModal()" class="button button-icon icon ion-close"></button>
	
	</ion-header-bar>

	<ion-content scroll="false">
		<div class = "image-container">
			<img id = "imagePlayer" src = "" />
		</div>
	</ion-content>

	<ion-footer-bar>
		<div class="buttons">
		<button class="button button-icon icon ion-refresh" ng-click="replayImages()"></button>
		</div>
	</ion-footer-bar>
</ion-modal-view>